.App {
  text-align: center;
}

.label {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.visuallyhidden {
  width: 1px;
  height: 1px;
  position: relative;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}
.icon {
  fill: gray;
	stroke: gray;
}

input:checked + label > svg,
.selected + label > svg {
	fill: #036;
	stroke: #036;
}

